<h1>Listing purchases</h1>

<table>
  <tr>
    <th>Purchase order number</th>
    <th>Bouquet</th>
    <th>User</th>
    <th>Delivery date</th>
    <th>Same as billing address</th>
    <th>Delivery house number</th>
    <th>Delivery road name</th>
    <th>Delivery postcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%= purchase.purchase_order_number %></td>
    <td><%= purchase.bouquet_id %></td>
    <td><%= purchase.user_id %></td>
    <td><%= purchase.delivery_date %></td>
    <td><%= purchase.same_as_billing_address %></td>
    <td><%= purchase.delivery_house_number %></td>
    <td><%= purchase.delivery_road_name %></td>
    <td><%= purchase.delivery_postcode %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
