<div class = "order">
  <h1>Welcome <br>to<br> Flower Cycle</h1>
  <div class = "flowerandtext">
    <%= image_tag('homepage1.jpeg')%>
    <p>Flower Cycle is a sustainable way to recieve beautiful flowers to your door on a regular basis</p>
    <button><%= link_to 'Order', bouquets_path%></button>
  </div>
</div>

<div class = "process">
  <h3>How it works</h3>
  <div class = "steps">
    <div class = "step1">
      <div class = "image">
        <%= image_tag('flowershop.png')%>
      </div>
      <div class = "digit">
        <p>1</p>
      </div>
      <p>A flower company supplies flowers to an event</p>
    </div>
    <div class = "step2">
      <div class = "image">
        <%= image_tag('partydrawing.png')%>
      </div>
      <div class = "digit">
        <p>2</p>
      </div>
      <p>The flowers make an event look beautiful at an event</p>
    </div>
    <div class = "step3">
      <div class = "image">
        <%= image_tag('bicycleflowers.png')%>
      </div>
      <div class = "digit">
        <p>3</p>
      </div>
      <p>Flower cycle pick up the flowers and deliver you a fresh bunch of flowers every week in a new theme and style</p>
    </div>
    <div class = "step4">
      <div class = "image">
        <%= image_tag('home.png')%>
      </div>
      <div class = "digit">
        <p>4</p>
      </div>
      <p>Your home looks beautiful with a new set of flowers every week</p>
    </div>
  </div>
  <%= link_to 'Find out more' %>
</div>

<div class = "suppliers_container">
  <h3><%= link_to 'Our Suppliers', users_path %></h3>
    <div class = "suppliers">
       
    </div>
</div>

<div class = "instagram">
    <h3><a href="http://instagram.com/flowercycle">Instagram</a></h3>
</div>
